ul{
    list-style-type: none;
}

.flex {
  display: flex;
  flex-direction: row; 
}

/* Header */

.app__header {
  background-color: #1da1af;
  text-transform: uppercase;
  font-family: 'PT Sans', sans-serif;
  font-weight: 300;
}
.header__wrapper {
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  
}

.header__title {
  color: white;
  margin: 0 auto;
  padding: 25px 0;
  font-size: 5.2rem;
  font-weight: 400;
  letter-spacing: 7px;
}


/* Create Job Form  */
.createJobForm__wrapper {
  display: flex;
  flex-direction: column;
}

.createJobForm__inputs {
  width: 100%;
  margin-bottom: 10px;
  flex: 0 1 auto;
}

.createJobForm__form {
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  text-transform: uppercase;
}

/* Create Job */
.createJob__wrapper {
  display: flex;
  align-content: center;
  flex-direction: column;
}

/* Favorite Jobs List */

.favoriteJobsList__wrapper {
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  background-color: #1da1af;
  text-transform: uppercase;
  font-family: 'PT Sans', sans-serif;
  font-weight: 300;
}

.favoriteJobsList__title {
  font-size: 3rem;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 0;
}

.favoriteJobList__list {
  text-align: left;
  font-size: 2rem;
  font-weight: 400;
  text-transform: uppercase;
  background: white;
}

/* Favorite Job */


 /* Footer */
.footer__wrapper {
  justify-content: center;
  align-items: center;
  text-align: center;
  border-top: 1px solid black;
  margin-top: 3%;
}
