article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}
.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

html {
   font-size: 10px;
}

body {
    font-size: 1rem;
    font-family: 'PT Sans', sans-serif;
    font-weight: 300px;
}

ul {
  list-style: none;
}

/* Header */
.app__header {
  background-color: #1da1af;
  text-transform: uppercase;
  font-family: 'PT Sans', sans-serif;
  font-weight: 300;
}

.header__wrapper {
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
}

.header__title {
  color: white;
  margin: 0 auto;
  padding: 25px 0;
  font-size: 5.2rem;
  font-weight: 400;
  letter-spacing: 7px;
}

/* Create Job */
.createJob__wrapper {
  display: flex;
  align-content: center;
  flex-direction: column;
}

.createJob__header {
  font-size: 4rem;
  margin: 0 auto;
  font-family: 'PT Sans', sans-serif;
  text-transform: uppercase;
  font-weight: 400;
}

/* Create Job Form  */
.createJobForm__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.createJobForm__inputs {
  width: 80%;
  margin-bottom: 10px;
  flex: 0 1 auto;
}

.createJobForm__form {
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  text-transform: uppercase;
}

.createJobForm__btn {
  color: white;
  background-color: #0a373d;
  padding: 10px 0;
  border: none;
  font-size: 2rem;
  text-transform: uppercase;
  width: 80%;
}

/* List Jobs */
.listJobs__wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: rgb(207, 205, 205);
  padding: 10px 20px;
  width: 80%;
  margin: 20px auto;
  position: relative;
}

.listJobs__header {
  font-size: 5rem;
  margin: 0 auto;
  font-family: 'PT Sans', sans-serif;
  font-weight: 100;
  text-transform: uppercase;
}

.listJobs__list {
  padding: 0;
  list-style: none;
  font-size: 2.5rem;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto;
}

/* Job List */
.job__list {
  margin: 10px;
  background-color: rgb(238, 237, 237);
  padding: 10px;
}

/* Job Button */
.job__btn {
  margin: 10px;
}

/* Favorite Jobs List */
.favoriteJobsList__wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: rgb(207, 205, 205);
  padding: 10px 20px;
  width: 80%;
  margin: 20px auto;
  position: relative;
}

.favoriteJobsList__title {
  font-size: 5rem;
  margin: 0 auto;
  font-family: 'PT Sans', sans-serif;
  font-weight: 100;
  text-transform: uppercase;
}

.favoriteJobsList__list {
  padding: 0;
  list-style: none;
  font-size: 2.5rem;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto;
}

/* Favorite Job */
.favoriteJob__list {
  margin: 10px;
  background-color: rgb(238, 237, 237);
  padding: 10px;
}

 /* Footer */
.footer__wrapper {
  justify-content: center;
  align-items: center;
  text-align: center;
  border-top: 1px solid black;
  margin-top: 3%;
}